.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}



.input {
    border-radius: 8px;
    padding-left: 20px;
    width: 320px;
    height: 40px;
    border: 1px solid black;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.input:hover {
    border-color: orangered;
    transition: 300ms linear, color 300ms linear;
}

